@media screen and (min-width: 890px) {
  .recharts-wrapper{
    width: 70% !important;
  }
}

@media screen and (max-width: 345px) {
  .recharts-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .recharts-wrapper > svg{
    width: 210px !important;
    overflow: visible !important;
  }
}
